<nav>
    <ul>
        <li><a href="/">Home</a></li> |
        <li><a href="/bio">About</a></li> |
        <li><a href="/works">Projects</a></li> |
        <li><a href="/blog">Blog</a></li>
    </ul>
</nav>