---
layout: layouts/blog.njk
title: Blog
description: "Blog posts Page"
---
<h1>Welcome to my Blog!</h1>

<ul class="blog-list">
    {% for post in collections.post %}
        <a href="{{ post.url }}"><li>{{ post.data.title }}<div>{{ post.data.date}}</div><div>{{ post.data.description}}</div></li></a>
    {% endfor %}
</ul>