---
layout: layouts/base.njk
---
<section>
    <p>put something here, most likely photo of yourself or something along those lines</p>
</section>

<section>
    <p> Hello, I'm <span class="myname">Denzel Echevarria</span>, a Software Engineer @ <span>Resilient Coders</span> and internet personality</p>
    <p>
        Before I chose the skill tree of the Software Engineer I worked in Computer repair and Lead an RMA Team @ <span>NZXT</span>. Check my <a href="/aboutme">About Me</a> for more.
    </p>
</section>
