---
layout: layouts/base.njk
title: Home
---
<section class="main-para">
    <p> Hello, I'm <span class="myname">Denzel Echevarria</span>, a Software Engineer @ <span>Resilient Coders</span> and internet personality.</p>
    <p>
        Before I chose the skill tree of the Software Engineer I worked in computer repair and led an RMA Team @ <span>NZXT</span>. Check my <a href="/bio">Bio</a> for more on me and my journey.
    </p>
    <p>Here are some links of place you can find me at:</p>
    <ul>
        <li><a href="https://github.com/DenzelEchev" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://twitter.com/DenzelEch" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/denzel-echevarria-61b495192/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://www.twitch.tv/wolfenwzrd" target="_blank"><i class="fa-brands fa-twitch"></i></a></li>
    </ul>
</section>

