---
layout: layouts/works.njk
title: Works
---
<h1>Some of my past efforts</h1>
<section>
    <div class="project-div">

    </div>
    <div class="project-div">

    </div>
    <div class="project-div">

    </div>
</section>